@import 'config.less';
@darken-color:darken(@form-color, 15%);

footer{
.contact-list{
    background-image: url('../images/footer-image-1.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100vw;
    
    .contacts{
        padding: 1em 0;
        margin:0 auto;
        width:@content-width;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2em;
        
        li{
            padding:1em;
            background-color: @form-color;
            color:@body-color;
            display: grid;
            grid-template-rows: 3em repeat(2,1em);
            gap:1em;
            transition: background-color 500ms ease;
        }

        li:hover{
            background-color: @darken-color;
        }
        
        .icon{
            width: 2em;
            background-color: @darken-color;
            padding: 1px;
            text-align: center;
            margin: 0 auto;
        }
    }
    
}
    p{
        margin: 0;
    }
    .organization-info{
        background-color: #05090c;
        color: aliceblue;
        text-align: center;
        
        p{
            padding:1em 0;
        }
    
        a{
            color:@header-text-color;
        }
    }
}