@import 'config.less';
@navbar-padding-width-value:1em;
@panel-content-width:(@content-width)-(@navbar-padding-width-value)*2;
@icon-size:5em;

nav{
    form{
        width:(@content-width)-2em;
        margin:0 auto;
        input{
            margin-bottom:1em;
        }
        h4{
            text-align: center;
            color:@hover-link-text-color;
        }
    }
}

//Auth Options Style
.auth-options{
    background-color: @theme-color;
    margin:0;
    
    div{
        width:@content-width;
        margin:0 auto;
        height: 3em;
        display: flex;
        input{
            display: none;
        }
        label:hover,a:hover,input:checked+label{
            color:@link-text-color;
            background-color: @hover-button-text-color;
        }
        label,a{
            padding:1em;
            color:@hover-link-text-color;
            background-color: transparent;
        }
    }
}

.top-panel{
    background-color: @theme-color;
}

.panel-content{
    margin:0 auto;
    width:@panel-content-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 @navbar-padding-width-value;
}

.user-panel{
    display: flex;
    justify-content: space-between;
}

.active{
    background-color:@hover-btn-back;
}

.nav-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 @navbar-padding-width-value;
}

.company-icon{
    background-image: url('../images/pinc-icon.png');
    background-size: @icon-size @icon-size;
    background-repeat: no-repeat;
    width: @icon-size;
    height: @icon-size;
    border-radius: 50%;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:1em;
    text-align: center;
    align-items: center;
}

.nav-item{
    border-left: .1em solid @theme-color;
    padding:0 1em;
}

.nav-item a,.nav-item a:active{
    color:@link-text-color;
}

.nav-item a:hover{
    color:@hover-link-text-color;
}

.nav-item:first-child{
    border: 0;
}