@import 'config.less';
@navbar-padding-width-value:1em;
@panel-content-width:(@content-width)-(@navbar-padding-width-value)*2;
@icon-size:5em;

.top-panel{
    background-color: @theme-color;
    position: fixed;
    top:0;
    left:0;
    right:0;
}

.panel-content{
    margin:0 auto;
    width:@panel-content-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 @navbar-padding-width-value;
}

.user-panel{
    display: flex;
    justify-content: space-between;
}

#local-date-time{
    color:@link-text-color;
    text-align: center;
    align-self: center;
}

.active{
    background-color:@hover-btn-back;
}

.nav-panel{
    margin-top:1em+(@btn-top-bottom-padding)*2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 @navbar-padding-width-value;
}

.company-icon{
    background-image: url('../images/pinc-icon.png');
    background-size: @icon-size @icon-size;
    background-repeat: no-repeat;
    width: @icon-size;
    height: @icon-size;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:1em;
    text-align: center;
    align-items: center;
}

.nav-item{
    border-left: .1em solid @theme-color;
    padding:0 1em;
}

.nav-item a,.nav-item a:active{
    color:@text-hover-color;
}

.nav-item a:hover{
    color:@link-text-color;
}

.nav-item:first-child{
    border: 0;
}