@import 'config.less';

.room-picture{
    background-repeat: no-repeat;  
    background-position: center;  
    background-size: 100vw;
    height:30em;

    .room-info{
        margin-right:20vw;
        display:flex;
        flex-direction: column;
        float: right;
        background: @body-color;
        padding:3em 2em;
        justify-self: flex-end;
        box-shadow: 0 0 .5em #fff;
    }
}
